{% extends "base.html" %}
{% block title %}Your favourites{% endblock %}

{% block content %}

<main class="col-9 mx-auto">
    <br><br>
    <div class="container px-0" style="max-width: 1000px">
        <div class="col-12">
            <h1 class="h2"> Your favourites list.</h1>
        </div>
        <div class="col-12 d-flex justify-content-between">
            <div>Here you can manage your <b>favourites</b>  products and manage them</div>

            <div>
                <div><a href="{% url 'account:dashboard' %}">Back to dashboard</a></div>
            </div>
        </div>
        <hr/>
    </div>
</main>

<div class="col-9 mx-auto">

    {% if favourites %}
    {% for products in favourites %}
    <div class="col-md-2">
        {% for image in product.product_image.all %}
            {% if image.is_feature %}
            <img class="img-fluid d-block p-2" width="135px" src="{{ image.image.url }}"
             alt="{{ image.image.alt_text }}"/>
            {% endif %}
        {% endfor %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small class="text-muted">{{ product.normal_price }}</small></p>
        <a type="button" class="btn btn-danger fw500 btn-sm" href="{% url 'account:users_favourites' product.id %}">Remove
            from Favourites list</a>

    </div>

    {% endfor %}
    {% else %}
    <br>
    <p class="card-text">Unfortunately, you don't have any products in your <b>Favourites</b> list.</p>
    {% endif %}
    <div>
        <div><a href="{% url 'store:all_products' %}">Change it up and have a look in the shop</a></div>
    </div>
</div>

{% endblock %}