{% extends "base.html" %}
{% load static %}
{% block title%}Main page{% endblock %}

{% block content%}


<section class="py-5 text-center container" style="max-width: 1000px">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="h1 fw-bold">Hello again</h1>
            <p class="lead text-muted">Just see what we have prepared for you.</p>
            <p>
                {% if user.is_authenticated %}

                {% else %}
                <a type="button" href="{% url 'account:login' %}" class="btn btn-primary my-2">Having account is
                    required</a>
                {% endif %}
            </p>
        </div>
    </div>
</section>

<div class="container" class="album py-5 bg-light">
    <div class="row">
        <div class="album">
            {% if not products %}
            <div class="col-12">There are currently no products active <a href="{% url 'catalogue:store_home' %}">Home</a></div>
            {% else %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                <div class="col">
                    <div class="card border-0">
                        {% for image in product.product_image.all %}
                        {% if image.is_feature %}
                        <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
                        {% endif %}
                        {% endfor %}
                        <div class="card-body px-0">
                            <p class="card-text">
                                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">£{{product.regular_price}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}