{%extends 'base.html'%}

{%block content%}

<style>
      .map-container {
        overflow: hidden;
        position: relative;
        height: 0;
      }

      .map-container iframe {
        left: 0;
        top: 00;
        height: 80%;
        width: 80%;
        position: absolute;
      }
</style>

<section class="py-5 text-center container">
    <br>
    <h2 class=" fw-bold">Of course, you can also pick up your order in one of our stationary stores.
      Please visit this page regularly as the number of our stores is growing all the time.</h2>
</section>

<div class="container-fluid mt-3 mb-5">
<br><br><br><br>
<section class="mb-4">

    <div class="card">

        <div class="row">
            <div class="col-md-6">
                <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d319.36944510035005!2d19.55683151360666!3d50.180667207471856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716f00c7daefe75%3A0x5e3282a46b22db3a!2sAugusta%20Czartoryskiego%2C%2032-065%20Nowa%20G%C3%B3ra!5e0!3m2!1spl!2spl!4v1656663524615!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

            <div class="col-10 col-md-4 mx-auto align-self-center py-4">
                <h4 class="font-weight-bold grey-text text-uppercase small">SHOP no. 1</h4>
                <h5 class="font-weight-normal mb-4">Paryż</h5>
                <p class="text-muted font-weight-light"> 1 Augusta Czartoryskiego st.</p>
                <p class="text-muted font-weight-light">+48 123 456 789</p>
                <p class="text-muted font-weight-light">Shopno1@pps.com</p>
            </div>
        </div>

    </div>

    <div class="card">

        <div class="row">
            <div class="col-md-6">
                <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d532.9339935295176!2d23.559507557109626!3d50.55136430445655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4724a36e8c3d870b%3A0x31cf657ea280428a!2s22-640%20Korea!5e0!3m2!1spl!2spl!4v1656663364202!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-10 col-md-4 mx-auto align-self-center py-4">
                <h4 class="font-weight-bold grey-text text-uppercase small">SHOP no. 2</h4>
                <h5 class="font-weight-normal mb-4">Korea</h5>
                <p class="text-muted font-weight-light">16 Pogodna st.</p>
                <p class="text-muted font-weight-light">+48 132 456 789</p>
                <p class="text-muted font-weight-light">Shopno2@pps.com</p>
            </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d159.29258217730523!2d19.13617760655859!3d50.29787642527265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716da84199dc8f5%3A0x3fe74450b01fbae5!2sWygwizd%C3%B3w%2C%2041-205%20Sosnowiec!5e0!3m2!1spl!2spl!4v1656663443498!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-10 col-md-4 mx-auto align-self-center py-4">
          <h4 class="font-weight-bold grey-text text-uppercase small">SHOP no. 3</h4>
          <h5 class="font-weight-normal mb-4">Sosnowiec - Wygwizdów</h5>
          <p class="text-muted font-weight-light">3 Śnieżna st.</p>
          <p class="text-muted font-weight-light">+48 132 464 789</p>
          <p class="text-muted font-weight-light">Shopno3@pps.com</p>
        </div>
      </div>
    </div>
</section>
</div>


{%endblock%}

